:root{
    --blue-1: #3c429e;
    --blue-2: #4c52ad;
    --yellow: #FAC742;
    --white: #FFF;
    --grey: #EDEDED;
    --green: #00ffcf;
    --shadow-dark: rgba(0,0,0,0.3);
    --shadow-light: rgba(255,255,255,0.1);
}
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background-color: var(--blue-1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 400px;
    height: 80vh;
    background-color: var(--blue-2);
    box-shadow: 10px 10px 10px var(--shadow-dark);
   
}
.upper-data {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.weather-data {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.location {
    color:var(--white);
    text-align: center;
    font-size: 1.2em;
}
.temperature {
    color:var(--white);
    font-size: 4em;
    font-weight: 700;
}
.lower-data {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1em;
    display: flex;
    flex-direction: column;

}
.more-information-label{
    color: var(--white);
}
.more-information-container{
    flex: 1;
    background-color: var(--shadow-light);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.information-block{
    width: 50%;
    display: flex;
    flex-direction: row;
}
.information-block-label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.information-block-label img {
    width: 1.5em;
}
.information-block-label  span {
    color: var(--green);
    font-size: 0.8em;
}
.information-block-value {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--white);
}